:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

@media screen and (min-width: 900px) {
  html {
    font-size: 75%;
  }
}

.app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background: var(--greyLight-1);
  flex-direction: column;
}

.go-hub {
  font-size: 15px;
  width: 8%;
  color: var(--primary);
  padding-top: 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
